@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f2dff2;

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(237, 226, 237, 1) 0%, rgba(222, 143, 222, 1) 35%, rgba(166, 95, 166, 1) 100%);
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
}

.hero {
    padding: 3rem 2rem;
    text-align: center;
    background-color: #f2dff2;
}

.main {
    display: flex;
}

.link-container {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &>div {
        padding: 1rem 1rem;
        background-color: #966996;
        border-radius: 0 10px 10px 0;

        &>a {
            color: #fcfcfc;
        }
    }
}

.main-container {
    width: 85%;
    padding: 3rem 10rem;
}

.product-container {
    padding: 1.5rem 0;
    display: flex;
    gap: 5rem;

    &>h3 {
        margin-bottom: 0.5rem;
    }

    &>.img-container {
        width: fit-content;
        display: flex;
        align-items: center;

        & img {
            width: 20rem;
            margin: auto 0;
        }
    }
}

.pdf {
    &>p {
        color: #fcfcfc;
        text-decoration: underline;
        cursor: pointer;
    }

    &>img {
        display: none;
        position: absolute;
        top: 5%;
        left: 30%;
        height: 90%;
        z-index: 2;
    }

    &>div {
        display: none;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            background-size: cover;
            background-position: center;
            opacity: 0.7;
            z-index: 1;
        }
    }

    &>.close {
        display: none;
        cursor: pointer;
        width: 25px;
        color: white;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 2;
    }
}